@using ServerlessCrudClassLibrary.TableEntities

@inject NavigationManager navigationManager
@inject IJSRuntime JsRuntime

<div class="comment-section">
    <div id="disqus_thread"></div>
</div>

@code {
    [Parameter]
    public BlogPostEntity BlogPost { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        await JsRuntime.InvokeVoidAsync("DisqusClient.init", navigationManager.Uri, null);
    }
}
