@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<div class="pr-sm-4 navbar navbar-dark">
    <ul class="nav">
        <AuthorizeView>
            <Authorized>
                <li class="nav-item">
                    <a class="nav-link btn btn-link" href="authentication/logout" @onclick="BeginLogout">
                        <span class="hide-on-small-screen">Hello, @context.User.Identity.Name!</span>
                        <span class="oi oi-account-logout" aria-hidden="true"></span>
                        <span class="hide-on-small-screen">Log out</span>
                    </a>
                </li>
            </Authorized>
            <NotAuthorized>
                <li class="nav-item">
                    <a class="nav-link btn btn-link" href="authentication/login">
                        <span class="oi oi-account-login" aria-hidden="true"></span>
                        <span class="hide-on-small-screen">Admin login</span>
                    </a>
                </li>
            </NotAuthorized>
        </AuthorizeView>
    </ul>
</div>

@code{
    private async Task BeginLogout(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
    }
}
