@inherits LayoutComponentBase

<div class="top-row sticky-top p-4">
    <div class="flex-grow-1">
        <NavMenu />
    </div>
    <div class="auth">
        <LoginDisplay />
    </div>
</div>

<div class="centered">
    <div class="d-xl-flex">
        <div class="main mb-4">
            <div class="content pl-4 pb-4">
                @Body
            </div>
        </div>
        <Sidebar />
    </div>
</div>