@inherits LayoutComponentBase
    
@inject IJSRuntime JsRuntime

<div class="page-header">
    <i class="fa fa-user-circle"></i>
    <h1 class="display-4">Welcome to your blog!</h1>
</div>

<div @ref="topRowReference" class="top-row">
    <div class="flex-grow-1">
        <NavMenu />
    </div>
    <div class="auth">
        <LoginDisplay />
    </div>
</div>

<div class="centered">
    <div class="d-xl-flex">
        <div class="main mb-4">
            <div class="content pl-4 pb-4">
                @Body
            </div>
        </div>
        <Sidebar />
    </div>
</div>

@code{      
    // Workaround, since position: sticky; doesn't work with the overflow property set.

    private ElementReference topRowReference;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("OwnStickifier.stickify", topRowReference);
        }
    }
}