@page "/editor"

@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.Extensions.Primitives
@using ServerlessCrudClassLibrary
@using Services
@inject CrudFunctionAPIClient crudClient
@inject NavigationManager navigationManager
@inject IJSRuntime JsRuntime
@inject AuthenticationStateProvider authStateProvider

<h3>BlogPostEditor</h3>

<EditForm Model="blogPost" OnValidSubmit="OnValidSubmit">
    @if (blogPostAlreadyExists)
    {
        <h4>@blogPost.Title</h4>
        <p>By @blogPost.Author -- last edited on @blogPost.Timestamp.UtcDateTime.ToLocalTime()</p>
    }
    else
    {
        <label>Post Title</label>
        <InputText @bind-Value="blogPost.Title"></InputText>
    }
    <label>Text</label>
    <InputTextArea @bind-Value="blogPost.Text"></InputTextArea>

    <button type="submit">Submit</button>
</EditForm>

@if (blogPostAlreadyExists)
{
    <button type="button" @onclick="OnRollbackButtonClicked">Rollback</button>
    <button type="button" @onclick="OnDeleteButtonClicked">Delete</button>
}

@code {
    private BlogPostEntity blogPost { get; set; } = new BlogPostEntity("title", "author", "text");
    private BlogPostEntity backup { get; set; }
    private bool blogPostAlreadyExists { get; set; } = false;

    private async Task OnValidSubmit()
    {
        if (blogPost.IsValid)
        {
            blogPost.Author = (await authStateProvider.GetAuthenticationStateAsync()).User.Identity.Name;
            await JsRuntime.InvokeVoidAsync(
                "alert",
                ((await crudClient.PostBlogPostAsync(blogPost)).StatusCode == System.Net.HttpStatusCode.OK) ?
                "Your blog post has been saved." : "Something went wrong.");

            navigationManager.NavigateTo("/blogposts");
        }
    }

    private void OnRollbackButtonClicked()
    {
        blogPost = backup.Clone();
    }

    private async Task OnDeleteButtonClicked()
    {
        if ((blogPost.IsValid) &&
            (await JsRuntime.InvokeAsync<bool>(
                "confirm",
                "Are you sure you want to delete the post? This cannot be undone."
           )))
        {
            await JsRuntime.InvokeVoidAsync(
                "alert",
                ((await crudClient.PostDeleteBlogPostEntityAsync(backup)).StatusCode == System.Net.HttpStatusCode.OK) ?
                "Your blog post has been deleted." : "Something went wrong.");

            navigationManager.NavigateTo("/blogposts");
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        Uri uri = navigationManager.ToAbsoluteUri(navigationManager.Uri);

        if ((QueryHelpers.ParseQuery(uri.Query).TryGetValue("partitionkey", out StringValues pk)) &&
            (QueryHelpers.ParseQuery(uri.Query).TryGetValue("rowkey", out StringValues rk)))
        {
            blogPostAlreadyExists = true;
            blogPost = await crudClient.GetBlogPostEntityAsync(pk, rk);
        }

        backup = blogPost.Clone();
    }
}
