@page "/"

@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.Extensions.Primitives

@inject NavigationManager navigationManager

<div class="main mb-4">
    <div class="content pl-4 pb-4">
        <h1>Hello, world!</h1>

        Welcome to your new app.

        <HTMLEditor />
    </div>
</div>
<Sidebar>
    <h3>Welcome to your blog!</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam condimentum libero nisi,
        et tristique leo varius a. Donec eget lorem massa. Proin ac ullamcorper arcu. Vestibulum
        consequat justo a felis tincidunt tempor. Ut non massa ut felis luctus finibus aliquet
        eget odio. Aliquam erat volutpat. Proin scelerisque mauris ut lacus sagittis pellentesque.
    </p>
</Sidebar>

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (QueryHelpers.ParseQuery(navigationManager.ToAbsoluteUri(navigationManager.Uri).Query)
            .TryGetValue("redirect", out StringValues url))
        {
            navigationManager.NavigateTo($"/{url}");
        }
    }
}