@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #e1e1e1;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    width: 100vw;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #0c2534;
}

    .top-row .navbar-brand {
        font-size: 1.1rem;
    }

    .top-row .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .top-row .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

    .top-row > a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

        .top-row .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .top-row .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .top-row .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.main {
    flex: 1;
}

.content {
    padding-top: 1.1rem;
    background-color: #f1f1f1;
    min-height: 50vh;
}

.centered {
    margin: 100px auto;
}

.sidebar {
    background-color: #f1f1f1;
    width: 20vw;
    min-width: 300px;
    margin-bottom: auto;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

@media (max-width: 767.98px) {
    .hide-on-small-screen {
        display: none;
    }

    .centered {
        width: 100vw;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    .hide-on-small-screen {
        display: block;
    }

    .content {
        min-width: 50vw;
    }

    .centered {
        width: 70vw;
        min-width: 768px;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .top-row .collapse {
        /* Never collapse for wide screens */
        display: block;
    }
}
