
<span class="own-dropdown-container">
    <span class="@TogglerClass" @onclick="ToggleContent">
        @Toggler
    </span>
    <span class="own-dropdown @ChildContentClass" style="display:@(ShowContent ? "block" : "none");">
        @ChildContent
    </span>
</span>

@code {
    [Parameter]
    public RenderFragment Toggler { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string TogglerClass { get; set; }
    [Parameter]
    public string ChildContentClass { get; set; }

    public bool ShowContent { get; set; } = false;

    private void ToggleContent()
    {
        ShowContent = !ShowContent;
    }
}
